@import '@/styles/colors.module';

.tasks {
  margin-top: 32px;

  &__headerFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 24px;
    line-height: 28px;
    color: #000000;
  }

  &__lists > li {
    margin-top: 17px;
    background: #fff;
    border-radius: 9999px;
    padding: 12px 20px;
    list-style: none;
    display: flex;
  }

  &__lists > .tasks__editFlex {
    padding: 5px;
    padding-left: 22px;
  }

  &__lists > li p {
    display: inline-block;
  }

  &__listFlex {
    display: flex;
    align-items: center;
  }

  &__message {
    color: $color-primary;
    margin-top: 20px;
  }

  &__completedText {
    text-decoration: line-through;
    color: #a9a9a9;
    border: none;
  }

  &__button {
    background: $color-secondary;
    color: #fff;
    border: none;
    padding: 10px 17px;
    border-radius: 9999px;
    font-size: 14px;
    cursor: pointer;
  }

  &__inputFlex {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__inputEdit {
    border: none;
    font-size: 16px;
    margin: 0;
    padding: 0;
    outline: none;
    width: 100%;
    margin-right: 10px;
  }

  /*Custom checkbox style*/
  &__lists > li input[type='checkbox'] {
    margin: 0;
    border: solid 2px $color-secondary;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin-right: 16px;
    width: 22px;
    height: 22px;
    border-radius: 6px;
    padding: 0px;
    display: grid;
    place-content: center;
  }

  &__lists > li input[type='checkbox']::before {
    position: relative;
    top: 1px;
    left: -1px;
    content: url('/images/checked.svg');
  }

  &__lists > li input[type='checkbox']:checked {
    background-color: $color-secondary;
  }
  /*End Custom checkbox style*/
}
