html,
body {
  padding: 0;
  margin: 0;
  background: #d1d0d8;
  font-family: 'Roboto', 'Prompt', sans-serif;
  font-weight: 400;
  color: #2e2e2e;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
